.App {
    display: flex;
    justify-content: center;
}

.list-admin {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.list-content {
    flex: 10;
    display: flex;
    justify-content: center;
}